@import url("tokens.css");
@import url("logo.css");

#color-swatch-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
}
.swatch {
  min-height: 1em;
}
