.logo[aria-label="home"] {
  aspect-ratio: 1;
  width: clamp(30px, 10vw, 90px);
  border-radius: 120px;
  padding: 0.5rem;
  --shadow-color: 224deg 65% 17%;
  border: 0.5px solid var(--color-accent);
  box-shadow: inset 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    inset 0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    inset 2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    inset 5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
  --background-color: var(--color-secondary);
  --can-top-fill: var(--color-accent);
  --can-sides-fill: var(--color-brand);
  --can-stroke: var(--color-brand);
  --cloud-stroke: var(--color-accent);
  .cloud,
  .can-sides {
    stroke-width: 0.33px;
  }
}
