/* TODO: create shades */
:root {
  --font-system: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-service-gothic: "ServiceGothic";
  --font-bitter: "Bitter";

  /* Palette colors are "private" and should not be used directly.
     "--_" denotes a private variable.
    */
  --clr-neutral-100: oklch(97% 138 244.06);
  --clr-neutral-200: oklch(89% 138 244.06);
  --clr-neutral-300: oklch(80% 138 244.06);
  --clr-neutral-400: oklch(71% 138 244.06);
  --clr-neutral-500: oklch(60% 138 244.06);
  --clr-neutral-600: oklch(49% 138 244.06);
  --clr-neutral-700: oklch(38% 138 244.06);
  --clr-neutral-800: oklch(25% 138 244.06);
  --clr-neutral-900: oklch(12% 138 244.06);

  --_color-light-blue: oklch(70% 0.138 244.06);
  --_color-dark-blue: oklch(38.5% 0.111 266.29);
  --_color-orange: oklch(71.6% 0.22 46.2);
  --_color-neutral-light: oklch(98% 0.02 46.2);
  --_color-neutral-dark: oklch(10% 0.01 46.2);

  --color-brand: var(--_color-light-blue);
  --color-secondary: var(--_color-dark-blue);
  --color-accent: var(--_color-orange);
  --color-neutral-darkest: var(--_color-neutral-dark);
  --color-neutral-lightest: var(--_color-neutral-light);
}
