@import url("_tokens.css");
@import url("_logo.css");
html {
  background-color: var(--color-neutral-lightest);
}
#color-swatch-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
}
.swatch {
  min-height: 1em;
}
