/* TODO: create shades */
:root {
  /* <font-family> */
  --font-system: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-service-gothic: "ServiceGothic";
  --font-bitter: "Bitter";
  /* <length> */
  --size-xxs: 0.5rem;
  --size-xs: 0.75rem;
  --size-sm: 0.825rem;
  --size-md: 1rem;
  --size-lg: 1.25rem;
  --size-xl: 1.5rem;
  --size-xxl: 2rem;
  /* <color> */
  --_color-dark-blue: oklch(38.5% 0.111 266.29);
  --_color-orange: oklch(71.6% 0.22 46.2);
  --_color-neutral-light: oklch(97% 0.02 46.2);
  --_color-neutral-dark: oklch(10% 0.01 46.2);
  --color-neutral-100: oklch(97% 0.02 46.2);
  --color-neutral-200: oklch(89% 0.02 46.2);
  --color-neutral-300: oklch(80% 0.02 46.2);
  --color-neutral-400: oklch(71% 0.02 46.2);
  --color-neutral-500: oklch(60% 0.02 46.2);
  --color-neutral-600: oklch(49% 0.02 46.2);
  --color-neutral-700: oklch(38% 0.02 46.2);
  --color-neutral-800: oklch(25% 0.02 46.2);
  --color-neutral-900: oklch(12% 0.02 46.2);
  --color-brand-100: oklch(97% 0.111 266.29);
  --color-brand-200: oklch(89% 0.111 266.29);
  --color-brand-300: oklch(80% 0.111 266.29);
  --color-brand-400: oklch(71% 0.111 266.29);
  --color-brand-500: oklch(60% 0.111 266.29);
  --color-brand-600: oklch(49% 0.111 266.29);
  --color-brand-700: oklch(38% 0.111 266.29);
  --color-brand-800: oklch(25% 0.111 266.29);
  --color-brand: var(--_color-dark-blue);
  --color-accent: var(--_color-orange);
  --color-neutral-darkest: var(--clr-neutral-900);
  --color-neutral-lightest: var(--clr-neutral-100);
}
